

.conter {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.player{
  width: 100%;
  position: fixed;
  bottom: 0;
 
}

.d-flex {
  width: 100%;
}